.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: center; 
    padding: 5px;
    margin-left: 4em;

}

.project {
    height: 15em; 
    width: calc(50% - 20px); 
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #39a900;
    border-radius: 3em;
}

.project:nth-child(2), .project:nth-child(3) {
    margin-right: 0;
    margin-left: 0;
}

.project h3 {
    color: #f1f1f1; 
    margin-bottom: 10px;
    margin-left: 17em;

}

.project img {
    width: 13em; 
    height: 5em;
    margin-bottom: 10px;
    margin-left: 1em;
}

.project p {
    color: #eeeaea; 
    line-height: 1.6;
margin-left: 20em;
margin-top: -5em;
}

.project a {
    display: inline-block; /* Hace que el enlace sea un bloque en línea para permitir el padding */
    padding: 10px 20px; /* Padding para hacer el enlace más clickeable */
    color: rgb(233, 230, 230); /* Texto en color blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados para el enlace */
    margin-top: -10em; /* Espacio por encima del enlace */
    margin-left: 18.5em;

}

